main {
    margin: 20px;
  }
  
section {
  margin-bottom: 40px;
  min-height: 100vh;
  scroll-margin-top: 100px; 
}

#sobre-mi{
  padding-top: 5vh; 
}

h1 {
  font-size: 36px;
}

.button-especial {
  border: none;
  border-color: initial;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  color: #2d2e32;
  background-color: #cfcfcf;
  font-size: .8rem;
  font-weight: 600;
  cursor: text;
  width: fit-content;
}

.description{
  text-align: justify;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

li a {
  text-decoration: none;
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.avatar{
  max-width: 100%;
  border-radius: 100%;
}

.item {
  flex-basis: 50%;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.item-img{
  flex-basis: 50%;
  padding: 10px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.img-technologies img{
  max-width: 10%;
  padding: 5px;
  filter: grayscale(100%);
}

.img-technologies img:hover{
  filter: grayscale(0%);
}

.img-technologies{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
}
