header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
  
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.contact ul li{
  margin: 0 4px;

}

.contact img{
  max-width: 25px;
  min-width: 10px;
  width: 5vw;
  filter: grayscale(100%);
}
.contact img:hover{
  filter: grayscale(0%);
}